.site-header .LogoNav {
	display: flex !important;
	justify-content: center;
	align-items: center;
	figure {
		height: 20px;
		margin: 0;
		padding: 0;
		display: flex !important;
		justify-content: flex-start;
		align-items: center;
		margin-right: 10px;
		img {
			margin: 0;
			padding: 0;
		}
	}
}
.site-header a.active {
	color: white;
}
